In [3]:
#import the necessary packages
import pandas as pd
import numpy as np
import requests
import re
import bleach
from time import sleep
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
%matplotlib inline

In [4]:
!ls data

README.txt
links.csv
movies.csv
ratings.csv
tags.csv

In [5]:
links_df = pd.read_csv('data/links.csv')
movies_df = pd.read_csv('data/movies.csv')
ratings_df = pd.read_csv('data/ratings.csv')
tags_df = pd.read_csv('data/tags.csv')

In [106]:
print(movies_df['movieId'].nunique())
print(movies_df['title'],nunique())

9742

NameError: name 'nunique' is not defined

In [6]:
print(movies_df)

      movieId                                      title  \
0           1                           Toy Story (1995)
1           2                             Jumanji (1995)
2           3                    Grumpier Old Men (1995)
3           4                   Waiting to Exhale (1995)
4           5         Father of the Bride Part II (1995)
...       ...                                        ...
9737   193581  Black Butler: Book of the Atlantic (2017)
9738   193583               No Game No Life: Zero (2017)
9739   193585                               Flint (2017)
9740   193587        Bungo Stray Dogs: Dead Apple (2018)
9741   193609        Andrew Dice Clay: Dice Rules (1991)

                                           genres
0     Adventure|Animation|Children|Comedy|Fantasy
1                      Adventure|Children|Fantasy
2                                  Comedy|Romance
3                            Comedy|Drama|Romance
4                                          Comedy
...                                           ...
9737              Action|Animation|Comedy|Fantasy
9738                     Animation|Comedy|Fantasy
9739                                        Drama
9740                             Action|Animation
9741                                       Comedy

[9742 rows x 3 columns]

In [7]:
movies_df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [62]:
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [8]:
#provides the movie id numbers with coorelation to the title and genre

In [9]:
print(ratings_df)

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [63]:
ratings_df.head()

   userId  movieId  rating  timestamp
0       1        1     4.0  964982703
1       1        3     4.0  964981247
2       1        6     4.0  964982224
3       1       47     5.0  964983815
4       1       50     5.0  964982931

In [10]:
ratings_df

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [11]:
conda update -n base -c defaults conda

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\alexd\anaconda3

  added / updated specs:
    - conda


The following packages will be SUPERSEDED by a higher-priority channel:

  conda              conda-forge::conda-4.10.3-py38haa244f~ --> pkgs/main::conda-4.10.3-py38haa95532_0


Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [12]:
conda install -c conda-forge scikit-surprise

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\alexd\anaconda3

  added / updated specs:
    - scikit-surprise


The following packages will be UPDATED:

  conda              pkgs/main::conda-4.10.3-py38haa95532_0 --> conda-forge::conda-4.10.3-py38haa244fe_3


Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [13]:
from surprise import Dataset, Reader
from surprise import SVD
from surprise import accuracy
from surprise.model_selection import cross_validate, train_test_split

In [14]:
data = ratings_df[['userId', 'movieId', 'rating']]
reader = Reader(line_format='user item rating', sep=',')
data = Dataset.load_from_df(data, reader=reader)

trainset, testset= train_test_split(data, test_size=.2)

In [15]:
svd = SVD()
svd.fit(trainset)

In [16]:
predictions = svd.test(testset)
accuracy.rmse(predictions)

RMSE: 0.8691

0.8690552573904899

In [17]:
predictions[:10]

[Prediction(uid=89, iid=130520, r_ui=2.0, est=3.450109823016249, details={'was_impossible': False}),
 Prediction(uid=73, iid=33495, r_ui=4.0, est=3.324745170273559, details={'was_impossible': False}),
 Prediction(uid=265, iid=2571, r_ui=5.0, est=3.629892495626103, details={'was_impossible': False}),
 Prediction(uid=380, iid=1407, r_ui=2.0, est=3.4794601694687657, details={'was_impossible': False}),
 Prediction(uid=610, iid=8644, r_ui=3.0, est=3.5938999806245326, details={'was_impossible': False}),
 Prediction(uid=318, iid=910, r_ui=3.5, est=4.201525361389221, details={'was_impossible': False}),
 Prediction(uid=347, iid=1, r_ui=5.0, est=4.067941273289911, details={'was_impossible': False}),
 Prediction(uid=596, iid=7615, r_ui=4.5, est=3.3988564398915315, details={'was_impossible': False}),
 Prediction(uid=554, iid=2282, r_ui=5.0, est=3.280311740103459, details={'was_impossible': False}),
 Prediction(uid=424, iid=1682, r_ui=3.5, est=3.8617895224323506, details={'was_impossible': False})]

In [18]:
#prediction shows the user's estimated vs actual rating for the movie

In [109]:
print("Number of users: ", ratings_df.userId.nunique())
print("Number of movies: ", ratings_df.movieId.nunique())

Number of users:  610
Number of movies:  9724

In [20]:
user = 3
item = 59314

svd.predict(user, item)

Prediction(uid=3, iid=59314, r_ui=None, est=2.3948349932313726, details={'was_impossible': False})

In [21]:
accuracy.mae(predictions)

MAE:  0.6676

0.6675594694184047

In [22]:
#Running more models to compare accuracy amongst eachother
#Using SVD as base model

In [23]:
from surprise import KNNWithMeans

In [24]:
KNNM = KNNWithMeans()
KNNM.fit(trainset)

Computing the msd similarity matrix...
Done computing similarity matrix.

In [25]:
KNNMpred = KNNM.test(testset)
accuracy.rmse(KNNMpred)

RMSE: 0.8908

0.8908399391843601

In [26]:
#Higher RMSE than SVD, therefore SVD would be better to use

In [27]:
from surprise import BaselineOnly

In [28]:
BO = BaselineOnly()
BO.fit(trainset)

Estimating biases using als...

In [29]:
BOpred = BO.test(testset)
accuracy.rmse(BOpred)

RMSE: 0.8673

0.8672910596908895

In [30]:
#Lower than SVD, therefore this model will be better to use

In [31]:
from surprise import NormalPredictor

In [32]:
NP = NormalPredictor()
NP.fit(trainset)

In [33]:
NPpred = NP.test(testset)
accuracy.rmse(NPpred)

RMSE: 1.4129

1.4128857523913796

In [34]:
#Very high RMSE, there this model will not be better to use

In [35]:
from surprise import KNNBaseline

In [36]:
KNNB = KNNBaseline()
KNNB.fit(trainset)

Estimating biases using als...
Computing the msd similarity matrix...
Done computing similarity matrix.

In [37]:
KNNBpred = KNNB.test(testset)
accuracy.rmse(KNNBpred)

RMSE: 0.8673

0.8673312863190166

In [38]:
#slightly higher than Baseline, so this model will not be of use

In [51]:
from surprise import KNNBasic

In [50]:
knnbasic = KNNBasic()
knnbasic.fit(trainset)

Computing the msd similarity matrix...
Done computing similarity matrix.

In [52]:
knnbasicpred = knnbasic.test(testset)
accuracy.rmse(knnbasicpred)

RMSE: 0.9419

0.9418921276500718

In [53]:
#higher rmse, therefore will not be of use

In [47]:
from surprise import CoClustering

In [48]:
CC = CoClustering()
CC.fit(trainset)

<ipython-input-48-c3e9bc95a679>:2: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  CC.fit(trainset)

In [54]:
CCpred = CC.test(testset)
accuracy.rmse(CCpred)

RMSE: 0.9388

0.9388303016310507

In [55]:
#higher rmse, therefore will not be of use

In [56]:
from surprise import SlopeOne

In [57]:
SO = SlopeOne()
SO.fit(trainset)

<ipython-input-57-23bbd11cc33d>:2: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  SO.fit(trainset)

In [59]:
SOpred = SO.test(testset)
accuracy.rmse(SOpred)

RMSE: 0.8956

0.8956444779973465

In [60]:
#higher rmse, there will not be of use

In [61]:
#BaselineOnly seems to be the best model to use with the smalled RMSE score of 0.8673. Only KNNBaseline was near

In [74]:
final_dataset = ratings_df.pivot(index='movieId', columns='userId', values='rating')
final_dataset.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,NaN,NaN,NaN,4.0,NaN,4.5,NaN,NaN,NaN,...,4.0,NaN,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,NaN,NaN,NaN,NaN,NaN,4.0,NaN,4.0,NaN,NaN,...,NaN,4.0,NaN,5.0,3.5,NaN,NaN,2.0,NaN,NaN
3,4.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.0,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,3.0,NaN,NaN,NaN,NaN,NaN,NaN

In [77]:
final_dataset.fillna(0, inplace=True)
final_dataset.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
movieId,,,,,,,,,,,,,,,,,,,,,
1,4.0,0.0,0.0,0.0,4.0,0.0,4.5,0.0,0.0,0.0,...,4.0,0.0,4.0,3.0,4.0,2.5,4.0,2.5,3.0,5.0
2,0.0,0.0,0.0,0.0,0.0,4.0,0.0,4.0,0.0,0.0,...,0.0,4.0,0.0,5.0,3.5,0.0,0.0,2.0,0.0,0.0
3,4.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
5,0.0,0.0,0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,3.0,0.0,0.0,0.0,0.0,0.0,0.0

In [128]:
#Convert data to a train set to implement matrix factorization
reader = Reader(rating_scale=(1,5))
train_data_mf = Dataset.load_from_df(ratings_df[['userId', 'movieId', 'rating']], reader)
train_set = train_data_mf.build_full_trainset()
svd = SVD(n_factors=100, biased=True, random_state=12, verbose=True)
svd.fit(trainset)

Processing epoch 0
Processing epoch 1
Processing epoch 2
Processing epoch 3
Processing epoch 4
Processing epoch 5
Processing epoch 6
Processing epoch 7
Processing epoch 8
Processing epoch 9
Processing epoch 10
Processing epoch 11
Processing epoch 12
Processing epoch 13
Processing epoch 14
Processing epoch 15
Processing epoch 16
Processing epoch 17
Processing epoch 18
Processing epoch 19

In [93]:
#getting predictions of our train set
train_preds = svd.test(train_set.build_testset())
train_pred_mf = np.array([pred.est for pred in train_preds])

In [110]:
#Sparse matrix
from scipy.sparse import csr_matrix
train_sparse_matrix = csr_matrix((ratings_df.rating.values, (ratings_df.userId.values, ratings_df.movieId.values)))

In [104]:
type(train_pred_mf)

numpy.ndarray

In [113]:
train_averages = dict()
train_global_average = train_sparse_matrix.sum()/train_sparse_matrix.count_nonzero()
train_averages['global'] = train_global_average
train_global_average

3.501556983616962

In [114]:
#this is the global average of all the ratings in our train set

In [134]:
def get_average_ratings(sparse_matrix, of_users):
    ax = 1 if of_users else 0
    sum_of_ratings = sparse_matrix.sum(axis=ax).A1
    is_rated = sparse_matrix!=0
    no_of_ratings = is_rated.sum(axis=ax).A1
    u,m = sparse_matrix.shape
    average_ratings = {i : sum_of_ratings[i]/no_of_ratings[i]
                       for i in range(u if of_users else m)
                       if no_of_ratings[i] !=0}
    return average_ratings

In [125]:
train_averages['user'] = get_average_ratings(train_sparse_matrix, of_users=True)

In [126]:
train_averages['movie'] = get_average_ratings(train_sparse_matrix, of_users=False)

In [149]:
from sklearn.metrics.pairwise import cosine_similarity
user_sim = cosine_similarity(train_sparse_matrix[user], train_sparse_matrix).ravel()
top_sim_users = user_sim.argsort()[::-1][1:]
top_ratings = train_sparse_matrix[top_sim_users].toarray().ravel()
top_sim_users_ratings = list(top_ratings[top_ratings !=0][:5])
top_sim_users_ratings.extend([train_averages['movie']]*(5-len(top_sim_users_ratings)))

In [147]:
len(get_average_ratings(train_sparse_matrix, of_users=False))

9724