In [3]:
#import the necessary packages
import pandas as pd
import numpy as np
import requests
import re
import bleach
from time import sleep
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
%matplotlib inline

In [4]:
!ls data

README.txt
links.csv
movies.csv
ratings.csv
tags.csv

In [5]:
links_df = pd.read_csv('data/links.csv')
movies_df = pd.read_csv('data/movies.csv')
ratings_df = pd.read_csv('data/ratings.csv')
tags_df = pd.read_csv('data/tags.csv')

In [6]:
print(movies_df)

      movieId                                      title  \
0           1                           Toy Story (1995)
1           2                             Jumanji (1995)
2           3                    Grumpier Old Men (1995)
3           4                   Waiting to Exhale (1995)
4           5         Father of the Bride Part II (1995)
...       ...                                        ...
9737   193581  Black Butler: Book of the Atlantic (2017)
9738   193583               No Game No Life: Zero (2017)
9739   193585                               Flint (2017)
9740   193587        Bungo Stray Dogs: Dead Apple (2018)
9741   193609        Andrew Dice Clay: Dice Rules (1991)

                                           genres
0     Adventure|Animation|Children|Comedy|Fantasy
1                      Adventure|Children|Fantasy
2                                  Comedy|Romance
3                            Comedy|Drama|Romance
4                                          Comedy
...                                           ...
9737              Action|Animation|Comedy|Fantasy
9738                     Animation|Comedy|Fantasy
9739                                        Drama
9740                             Action|Animation
9741                                       Comedy

[9742 rows x 3 columns]

In [7]:
movies_df

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
...,...,...,...
9737,193581,Black Butler: Book of the Atlantic (2017),Action|Animation|Comedy|Fantasy
9738,193583,No Game No Life: Zero (2017),Animation|Comedy|Fantasy
9739,193585,Flint (2017),Drama
9740,193587,Bungo Stray Dogs: Dead Apple (2018),Action|Animation
9741,193609,Andrew Dice Clay: Dice Rules (1991),Comedy

In [8]:
#provides the movie id numbers with coorelation to the title and genre

In [9]:
print(ratings_df)

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [10]:
ratings_df

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [11]:
conda update -n base -c defaults conda

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\alexd\anaconda3

  added / updated specs:
    - conda


The following packages will be SUPERSEDED by a higher-priority channel:

  conda              conda-forge::conda-4.10.3-py38haa244f~ --> pkgs/main::conda-4.10.3-py38haa95532_0


Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [12]:
conda install -c conda-forge scikit-surprise

Collecting package metadata (current_repodata.json): ...working... done
Solving environment: ...working... done

## Package Plan ##

  environment location: C:\Users\alexd\anaconda3

  added / updated specs:
    - scikit-surprise


The following packages will be UPDATED:

  conda              pkgs/main::conda-4.10.3-py38haa95532_0 --> conda-forge::conda-4.10.3-py38haa244fe_3


Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

Note: you may need to restart the kernel to use updated packages.

In [13]:
from surprise import Dataset, Reader
from surprise import SVD
from surprise import accuracy
from surprise.model_selection import cross_validate, train_test_split

In [14]:
data = ratings_df[['userId', 'movieId', 'rating']]
reader = Reader(line_format='user item rating', sep=',')
data = Dataset.load_from_df(data, reader=reader)

trainset, testset= train_test_split(data, test_size=.2)

In [15]:
svd = SVD()
svd.fit(trainset)

In [16]:
predictions = svd.test(testset)
accuracy.rmse(predictions)

RMSE: 0.8686

0.8685634143342283

In [17]:
predictions[:10]

[Prediction(uid=484, iid=160, r_ui=4.5, est=3.4720841879999256, details={'was_impossible': False}),
 Prediction(uid=483, iid=3699, r_ui=3.0, est=3.464282779729023, details={'was_impossible': False}),
 Prediction(uid=66, iid=2146, r_ui=4.5, est=3.5525305128406903, details={'was_impossible': False}),
 Prediction(uid=572, iid=3552, r_ui=4.0, est=4.084404918872383, details={'was_impossible': False}),
 Prediction(uid=414, iid=4714, r_ui=2.0, est=3.046546042153046, details={'was_impossible': False}),
 Prediction(uid=514, iid=1982, r_ui=4.0, est=3.5741222626466613, details={'was_impossible': False}),
 Prediction(uid=339, iid=1077, r_ui=4.5, est=4.291977421458549, details={'was_impossible': False}),
 Prediction(uid=603, iid=2247, r_ui=4.0, est=3.03356740239835, details={'was_impossible': False}),
 Prediction(uid=288, iid=1240, r_ui=3.0, est=3.6025759739390306, details={'was_impossible': False}),
 Prediction(uid=51, iid=53953, r_ui=3.5, est=3.1487268675441187, details={'was_impossible': False})]

In [18]:
#prediction shows the user's estimated vs actual rating for the movie

In [19]:
print("Number of users: ", ratings_df.userId.nunique())
print("Number of movies: ", ratings_df.movieId.nunique())

Number of users:  610
Number of movies:  9724

In [20]:
user = 3
item = 59314

svd.predict(user, item)

Prediction(uid=3, iid=59314, r_ui=None, est=2.430134053961932, details={'was_impossible': False})

In [21]:
accuracy.mae(predictions)

MAE:  0.6696

0.6696040188969822

In [22]:
#Running more models to compare accuracy amongst eachother
#Using SVD as base model

In [23]:
from surprise import KNNWithMeans

In [24]:
KNNM = KNNWithMeans()
KNNM.fit(trainset)

Computing the msd similarity matrix...
Done computing similarity matrix.

In [25]:
KNNMpred = KNNM.test(testset)
accuracy.rmse(KNNMpred)

RMSE: 0.8919

0.8918726456260507

In [26]:
#Higher RMSE than SVD, therefore SVD would be better to use

In [27]:
from surprise import BaselineOnly

In [ ]:
BO = BaselineOnly()
BO.fit(trainset)

In [ ]:
BOpred = BO.test(testset)
accuracy.rmse(BOpred)

In [30]:
#Lower than SVD, therefore this model will be better to use